Host *
    KexAlgorithms +diffie-hellman-group1-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1
    Ciphers +aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc
    HostKeyAlgorithms=+ssh-rsa