{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}

{% block content %}
<div class="pull-right noprint">
    {% block buttons %}{% endblock %}
</div>
<h1>{% block title %}{% endblock %}</h1>
<div class="row">
    <div class="col-md-{% if filter_form %}9{% else %}12{% endif %}">
        {% with bulk_edit_url=content_type.model_class|url_name:"bulk_edit" bulk_delete_url=content_type.model_class|url_name:"bulk_delete" %}
        {% if permissions.change or permissions.delete %}
            <form method="post" class="form form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="return_url" value="{% if return_url %}{{ return_url }}{% else %}{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% endif %}" />
                {% include table_template|default:'responsive_table.html' %}
                <div class="pull-left noprint">
                    {% block bulk_buttons %}{% endblock %}
                </div>
            </form>
        {% else %}
            {% include table_template|default:'responsive_table.html' %}
        {% endif %}
        {% endwith %}
        {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
        <div class="clearfix"></div>
        {% if table_config_form %}
            {% include 'inc/table_config_form.html' %}
        {% endif %}
    </div>
    {% if filter_form %}
        <div class="col-md-3 noprint">
            {% include 'inc/search_panel.html' %}
            {% block sidebar %}{% endblock %}
        </div>
    {% endif %}
</div>
{% endblock %}
